.cart-list-container {
    margin: 40px;

    h1, h2, p {
        margin-top: 0;
        font-weight: normal;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
}

.cart-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.cart-description {
    flex-grow: 1;
    padding: 20px;
}

.cart-info {
    display: flex;
    justify-content: space-between;

    .price {
        font-size: 24px;
    }
}

.img-wrapper {
    max-height: 200px;
    overflow: hidden;
    width: 300px;

    img {
        width: 100%;
        height: auto;
    }
}

.cart-summary {
    font-size: 24px;
    text-align: right;
}

.cart-item-actions {
    button {
        margin-right: 10px;
    }
}

.no-items-msg {
    font-size: 18px;
    text-align: center;
}